#pagination {
    display: flex;
    flex-direction: row;
    align-self: center;
}

#pagination > * {
    margin: 10px;
}

#pagination > button {
    width: 50px;
    border: none;
  border-radius: 30px;
  outline: none;
  text-align: center;
  margin-left: 10px;
}
